
:root {font-size: 162.5%;}
body {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
}

#presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
    background-image: -webkit-linear-gradient(#b8c6df,#6d88b7);
    background-image: linear-gradient(to top right, #b8c6df 0%,#6d88b7 100%);
    background-size: 1%;
}



#next,
#back {
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
  list-style-type: none;
  -webkit-appearance: none;
  color: #333;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background: linear-gradient(#fff 50%, #eee 50%, #ddd);
  border-radius: 7px;
  border: none;
  padding: 5px 10px;
  letter-spacing:1px;
  font-size: 1rem;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3),
    2px 2px 5px rgba(0,0,0,0.7);
  border: 3px solid #eee;
}
#next {left: auto; right: 5px;}
