
.slide {
  width: 900px;
  height: 700px;
  background-color: #efefef;
  position: absolute;
  left: 50%;
  top: 50%;
    margin-top: -350px;
    margin-left: -450px;
    display: none;
    overflow: hidden;
  padding: 20px;
  border-radius: 50px 0;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.6),
        inset 0 0 6px rgba(0,0,0,0.4);
    display: none;
  transition: margin-left 1s, transform 1s, opacity 2s;
  opacity: 0.5;
  transform: scale(0.8);
  box-sizing: border-box;
  &:nth-of-type(odd) {
    border-radius: 0 50px;
    .objectlink {border-radius: 0 45px 0 40px; right: 6px;}
  }
}

.past, .current, .future, .far-past, .far-future {
    display: block;
}

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  left: 50%;
  top: 50%;
  margin-top: -350px;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 50px 0;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.6),
        inset 0 0 6px rgba(0,0,0,0.4);

  &.far-past {margin-left: -2400px;}
  &.past     {margin-left: -1400px;}
  &.current  {margin-left: -450px; opacity:1;
    transform: scale(1);}
  &.future   {margin-left: 500px;}
  &.far-future {margin-left: 1500px;}

  &.intro {
    text-align: center;
    font-size: 2rem;
  }
  &.intro hgroup {
    margin-top: 200px;
  }
}


.slides {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform 1s ease-in-out;
  transform: scale(0.8);
}


.slide textarea.mynotes {
    -webkit-appearance: none;
    border: 1px #aaa solid;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    font-style: italic;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    padding: 5px;
    box-sizing: border-box;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, cursive,serif;
   }
td,
th {
  border: 1px solid #ccc;
  text-align: center;
}
.invalid {
  background-color: red;
}
.slide.section {
  text-align: center;
}
.slide.section,.slide.intro header {
  font-size: 2.5rem;
}
.slide li {
    margin-bottom: 10px;
}
.slide img {
  max-height: 90%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  text-align: center;
}
.slide p{
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}
.force-render {
  display: block;
  visibility: hidden;
}
.slide.far-past {
  display: block;
  margin-left: -2400px;
}
.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}
.slide.current {
  visibility: visible;
  display: block;
  margin-left: -450px;
}
.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}
.slide.far-future {
  display: block;
  margin-left: 1500px;
}
